div#body-all {
    padding: 52px;
}

div#body-header h1 {
    border-bottom:1px solid #ddd;
    padding-bottom: 10px;
    font-size: 2rem;
    
}

.body-main {
    padding:35px 0 35px 0;
    width: 870px;
    height: 250px;
 
    
}
.price {
    font-size:25px;
    display: flex;
  align-items: center;

    
}


div#body-main h2 {
    font-size: 1.5rem;
}

.body-main p {
    margin-bottom: 0;
    font-size: 16px;
    padding-right:250px;
}

.Schedule {
    padding: 0;
    display:flex;
    align-items:center;
    justify-content: center;
}

.row-1 {
    border-bottom:1px solid #ddd;
}


